.game {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.SNS {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.snscomponent {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.game_list {
    margin-top: 3rem;
}