.layout {
    width: 400px;
}

.writelist {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}

.writelist_name {
    font-weight: bold;
    display: flex;
    justify-content: flex-start;
}

.writelist_map {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    padding: 2rem;
    padding-top: 0.5rem;
}

.writelist_style {
    display: flex;
    justify-content: center;
    align-content: center;
    list-style: none;
    text-align: left;
}

.writelist_style_item {
    display: flex;
    justify-content: center;
    align-content: center;
    list-style: none;
    background-color: #f8f9fa;
    border-radius: 1rem;
    box-shadow: 10px 10px #ced4da;
}

.writelist_name {
    padding-left: 1rem;
}

.writelist_content {
    padding: 1rem;
    text-align: left;
}