.Main_layout {
    max-width: 500px;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    overflow-y: auto;
}

.Main_background {
    background: #18928c;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.graybox {
    /* width: 5rem;
    height: 5rem; */
    margin-top: 5rem;
    /* background-color: gray; */
}

.Main_content {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.Main_content .col:nth-child(2)>.box:nth-child(1) {
    margin-top: 5rem;
}

.Main_content .col {
    display: flex;
    flex-direction: column;
}

.footertext {
    margin-top: 5rem;
    text-align: center;
    font-family: "NanumSquareRound";
    font-style: normal;
    font-weight: 700;
    font-size: 13px;
    color: #f89cc5;
}

.footermargin {
    margin-top: 6rem;
    background: #18928c;
}