.test_layout {
    max-width: 500px;
    height: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* flex-wrap: nowrap; */
}

.test_page {
    width: 100%;
    position: relative;
    background: #ffffff;
    /* background: #ffffff; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.test_title {
    margin-top: 7rem;
}


/* .test_maintitle {
  margin: auto;
  width: 50%;
} */

.test_maintext {
    text-align: center;
    margin-top: 2rem;
    font-style: normal;
    font-weight: bolder;
    font-size: 34px;
    line-height: 46px;
    color: #ff7eb8;
}

.test_subtitle {}

.test_subtext1 {
    text-align: center;
    margin-top: 2rem;
    font-style: normal;
    font-weight: bold;
    font-size: 17px;
    color: #ff7eb8;
}

.test_subtext2 {
    text-align: center;
    font-style: normal;
    font-weight: bold;
    font-size: 17px;
    color: #ff7eb8;
}

.test_explaintext {
    text-align: center;
    margin-top: 2.5rem;
    font-style: normal;
    font-weight: lighter;
    font-size: 17px;
}

.test_explaintext1 {
    text-align: center;
    font-style: normal;
    font-weight: lighter;
    font-size: 17px;
}

div[className="test_maincontent"] {
    border: none;
}

.test_maincontent {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}

.test_button {
    border: none;
    background: none;
}

.test_buttonimg {
    margin-top: 5rem;
}

.test_footermargin {
    display: block;
    height: 3rem;
    margin-top: 25rem;
}