.Main_center_app {
    max-width: 500px;
    height: 100%;
    margin: 0 auto;
    /* overflow-y: auto; */
}

.App_header {
    width: 100%;
    height: 3rem;
    background-color: #f89cc5;
    display: flex;
    justify-content: center;
    align-content: center;
}

.App_text {
    margin: auto;
    width: 50%;
}

.App_titletext {
    font-style: normal;
    color: #f8f9fa;
    text-align: center;
    font-weight: bolder;
}

.Main_center_app .Main_App_menu {
    width: 100%;
}