.home_layout {
    padding-top: var(--navbar-height);
    background-color: rgba(255, 241, 241, 1);
    /* background: #ffffff; */
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: space-between;
}

.footermargin {
    padding-top: 24px;
    margin-left: 52px;
    margin-right: 52px;
    align-items: center;
    color: #f89cc5;
    width: 286px;
    height: 91px;
}

.homeline {
    background-image: url("../../assets/background.png");
    background-size: 100%;
}

.dinoscope {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.dinoscope .col {
    display: flex;
    flex-direction: column;
}

.minidino1 {
    margin-top: 50px;
}

.minidino4 {
    margin-top: 165px;
}

.minidino2,
.minidino3,
.minidino5 {
    margin-top: 90px;
}

.minidino1,
.minidino2,
.minidino3,
.minidino4,
.minidino5,
.minidino6 {
    width: 156px;
    height: 156px;
}