.home_layout {
    padding-top: var(--navbar-height);
    background-color: rgba(255, 241, 241, 1);
    /* background: #ffffff; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.homeline {
    padding-top: var(--navbar-height);
    background-image: url("../../assets/background.png");
    background-size: 100%;
}

.dinoscope {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.dinoscope .col {
    display: flex;
    flex-direction: column;
}

.minidino1 {
    margin-top: 9%;
}

.minidino4 {
    margin-top: 25%;
}

.minidino2,
.minidino3,
.minidino4,
.minidino5,
.minidino6 {
    padding-bottom: 14%;
}

.footermargin {
    text-align: center;
    font-size: 14px;
    font-weight: 700;
    font: NanumSquareRound;
    color: #f89cc5;
    padding-bottom: var(--navbar-height);
}

.minidino1,
.minidino2,
.minidino3,
.minidino4,
.minidino5,
.minidino6 {
    width: 156px;
    height: 156px;
}